{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
    
    <h1>Bienvenue sur le site des tisseurs.</h1>
    <p>L'association Les Tisseurs est une association à but non lucratif régie par la loi de 1901 créée en 2018.

        Elle a pour objet de promouvoir le concept de tissage, une posture d'accompagnement à l'apprentissage fondée sur la priorité à la relation. Le tissage s'appuie sur une déontologie spécifique et une thèse sur l'environnement émancipant (Liu T., 2018).
        
        La culture du tissage est en rupture avec les cadres d'apprentissage habituels. Effectuer le passage d'une culture à l'autre, c'est poser un cadre le plus clair possible pour que de premiers repères soient rapidement identifiés et s'appuyer ainsi sur une proposition cohérente et logique. Il s'agit d'intégrer l'intention et les valeurs, plus que d'appliquer une méthode ou des outils.
        
        Les tisseurs se sont appropriés la culture du tissage pour la retransmettre. </p>
{% endblock %}